@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Index" asp-controller="Person">View all People</a><br />
<a asp-action="Index" asp-controller="Project">View all Projects</a><br />
<a asp-action="Index" asp-controller="Role">View all Roles</a><br />